@if (this.User.IsInRole(GlobalConstants.UserRoleName))
{
        <li><a class="nav-link" asp-area="" asp-controller="Tickets" asp-action="All">My Tickets</a></li>
        <li><a class="nav-link" asp-area="" asp-controller="Reservations" asp-action="All">My Reservations</a></li>
}