@{
    var destinations = this.ViewData["Destinations"] as IEnumerable<SelectListItem>;
}

@model UnravelTravel.Models.InputModels.Home.SearchInputModel
<div class="row justify-content-center">
    <form asp-area="" asp-controller="Home" asp-action="Index" method="get" class="text-center">
        <h3>Wonder what to do?</h3>
        <hr />
        <div class="row">
            <div class="form-group col-4">
                <h6><label asp-for="DestinationId"></label></h6>
                <select asp-for="DestinationId" asp-items="destinations" class="form-control col-md-12">
                    <option selected="" disabled="">Where to</option>
                </select>
                <span asp-validation-for="DestinationId" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <h6> <label asp-for="StartDate"></label></h6>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <h6><label asp-for="EndDate"></label></h6>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
</div>
