@{
    this.ViewData["Title"] = "Home Page";
}
@await this.Html.PartialAsync("CarouselPartial")
<br />
@await this.Html.PartialAsync("MainEntitiesPartial")
<br />
<div class="row justify-content-center">
    <input class="form-control mr-sm-2 col-md-8" type="text" placeholder="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</div>