@model UnravelTravel.Models.InputModels.Home.SearchInputModel
@{
    this.ViewData["Title"] = "Home Page";
    var destinations = this.ViewData["Destinations"] as IEnumerable<SelectListItem>;
}

@await this.Html.PartialAsync("_CarouselPartial")
<br />
@await this.Html.PartialAsync("_MainEntitiesPartial")
<br />

<div class="jumbotron" style="padding-top: 30px; padding-bottom: 30px;" >
    @await this.Html.PartialAsync("_SearchFormPartial", @Model)
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
