@using Microsoft.AspNetCore.Http
@model UnravelTravel.Models.InputModels.Home.SearchInputModel
@{
    this.ViewData["Title"] = "Home Page";
    var destinations = this.ViewData["Destinations"] as IEnumerable<SelectListItem>;
}

<cache expires-after="@TimeSpan.FromHours(4)">
    @await this.Html.PartialAsync("_CarouselPartial")
    <br />
    @await this.Html.PartialAsync("_MainEntitiesPartial")
</cache>
<br />

<div id="searchContainer" class="jumbotron text-center" style="padding-top: 30px; padding-bottom: 30px;">
    @await this.Html.PartialAsync("_SearchFormPartial", @Model)
</div>

@section Scripts {
    <script type="text/javascript">
        $("#search").click(() => {
            let destinationId = $("#DestinationId").val();
            let startDate = $("#StartDate").val();
            let endDate = $("#EndDate").val();

            $.ajax({
                type: "GET",
                url: `/Search?DestinationId=${destinationId}&StartDate=${startDate}&EndDate=${endDate}`,
                success: function (res) {
                    $("#searchResult").remove();
                    $("#searchContainer").append(res);
                },
                error: function (res) {
                    console.log(res);
                }
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
