@model UnravelTravel.Services.Data.Models.Home.SearchResultViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@await this.Html.PartialAsync("CarouselPartial")
<br />
@await this.Html.PartialAsync("MainEntitiesPartial")
<br />
@*<div class="d-flex justify-content-center">*@
@await this.Html.PartialAsync("SearchFormPartial")
@*</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}