@using UnravelTravel.Data.Models.Enums
@model UnravelTravel.Web.Areas.Administrator.InputModels.Restaurants.RestaurantCreateInputModel
@{
    this.ViewData["Title"] = "Create Restaurant";
    var destinations = this.ViewData["Destinations"] as IEnumerable<SelectListItem>;
}

<div class="row justify-content-center">
    <form enctype="multipart/form-data" asp-area="Administrator" asp-controller="Restaurants" asp-action="Create" method="post" class="text-center col-md-6">
        <h4>Create new restaurant</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control col-md-12" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DestinationId"></label>
            <select asp-for="DestinationId" asp-items="destinations" class="form-control col-md-12">
                <option selected="" disabled="">--Select destination--</option>
            </select>
            <span asp-validation-for="DestinationId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p>Image</p>
            <input type="file" asp-for="Image" name="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control col-md-12" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Seats"></label>
            <input asp-for="Seats" class="form-control col-md-12" />
            <span asp-validation-for="Seats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type"></label>
            <select class="form-control col-md-12" asp-for="Type"
                    asp-items="@(Html.GetEnumSelectList<RestaurantType>())">
                <option selected="" disabled="">--Select restaurant type--</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-default">Create restaurant</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
