@model UnravelTravel.Web.InputModels.Restaurants.RestaurantReviewInputModel
@{
    this.ViewData["Title"] = "Review restaurant";
}

<div class="row justify-content-center">
    <form method="post" asp-area="" asp-controller="Restaurants" asp-action="Review" class="text-center col-md-6">
        <h3>Review your experience at "@Model.Name"</h3>
        <hr />
        <div class="form-group">
            <label asp-for="Rating"></label>
            <input type="number" min="0" max="5" asp-for="Rating" class="form-control col-md-12" />
            <span asp-validation-for="Rating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea rows="5" cold="50" asp-for="Content" class="form-control col-md-12"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-primary">Add review</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}