@model UnravelTravel.Web.Areas.Administrator.InputModels.Locations.LocationCreateInputModel
@{
    this.ViewData["Title"] = "Create Restaurant";
    var destinations = this.ViewData["Destinations"] as IEnumerable<SelectListItem>;
}

<div class="row justify-content-center">
    <form asp-area="Administrator" asp-controller="Locations" asp-action="Create" method="post" class="text-center col-md-6">
        <h4>Create new location</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control col-md-12" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DestinationId"></label>
            <select asp-for="DestinationId" asp-items="destinations" class="form-control col-md-12">
                <option selected="" disabled="">--Select destination--</option>
            </select>
            <span asp-validation-for="DestinationId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control col-md-12" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type"></label>
            <select class="form-control col-md-12" asp-for="Type"
                    asp-items="@(Html.GetEnumSelectList<LocationType>())">
                <option selected="" disabled="">--Select location type--</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-success">Create location</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
