@model UnravelTravel.Models.ViewModels.Activities.ActivityToEditViewModel
@{
    this.ViewData["Title"] = "Delete Activity";
}

<div class="row justify-content-center">
    <form asp-area="Administrator" asp-controller="Activities" asp-action="Delete" method="post" class="text-center col-md-6">
        <h4>Delete activity</h4>
        <hr />
        <fieldset disabled="">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control col-md-12" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div form-group>
                <label>Image</label>
                <img style="height: 200px; width: 100%;" class="card-img-top" src="@Model.ImageUrl" alt="Destination image" />
            </div>
            <div class="form-group">
                <label asp-for="Date"></label>
                <input asp-for="Date" class="form-control col-md-12" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationName"></label>
                <input asp-for="LocationName" class="form-control col-md-12" />
                <span asp-validation-for="LocationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <input asp-for="Type" class="form-control col-md-12" placeholder="@Model.Type"/>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-outline-warning">Delete activity</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
