@model UnravelTravel.Web.Areas.Administrator.InputModels.Destinations.DestinationCreateInputModel
@{
    this.ViewData["Title"] = "CreateAsync Destination";
    var countries = this.ViewData["Countries"] as IEnumerable<SelectListItem>;
}

<div class="row justify-content-center">
    <form enctype="multipart/form-data" asp-area="Administrator" asp-controller="Destinations" asp-action="Create" method="post" class="text-center col-md-6">
        <h4>Create new destination</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control col-md-12" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CountryId"></label>
            <select asp-for="CountryId" asp-items="countries" class="form-control col-md-12">
                <option selected="" disabled="">--Select country--</option>
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p>Image</p>
            <input type="file" asp-for="Image" name="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Information"></label>
            <textarea asp-for="Information" class="form-control col-md-12" rows="7"></textarea>
            <span asp-validation-for="Information" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-success">Create destination</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
